{% extends 'accounts/html/header_footer.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'posts/css/main_page.css' %}">
<meta name="viewport" content="width=device-width">
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-sm-8">
            <!-- block with all posts -->
            <ul class="list-group">
                {% for post in posts %}
                <li class="list-group-item mx-auto my-3 list_object">
                    <a href="{% url 'users_profiles' post.author %}"><span class="badge bg-primary rounded-pill my-2"> {{ post.author }}</span></a>
                    {% if post.images %}
                        <div class="text-center pb-4"><img class="image_custom_size" src="{{ post.images.url }}" width="555px"></div>
                    {% endif %}
                    <div class="fw-bold text-center">{{ post.title }}</div>
                    <div class="text-center">{{ post.content }}</div>
                    
                    {% if post.link %}
                        <div><a href="{{ post.link }}">github repository</a></div>
                    {% endif %}
                    {{ account.extra_data.link }}
                    <form action="{% url 'like_post' post.pk %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" name="post_id" value="{{ post.id }}" class="btn like-button">{{ post.likes.count }}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                            </svg>
                        </button>
                    </form>    

                    {% if post.author.username == request.user.username %}
                        <form method="POST">
                            {% csrf_token %}
                            <button type="submit" name="delete_post" value="{{ post.id }}" class="btn btn-danger delete-button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </button>       
                        </form>
                        {% endif %}
                    </li>
                {% endfor %} 
            </ul>
        </div>
    </div>
</div>
{% endblock %}