body {
    background: #0013b8;
    background: linear-gradient(90deg, #00b8a0 19%, #9900ff 100%);
}

h3 {
    padding: 3px;
    color: #cfcfcf;
}

.user-info-list {
    margin-top: 25px;
}

.user-info-list li {
    border: none;
    color: #272727;
    font-weight: bold;
    background: #0013b8;
    background: linear-gradient(90deg, #00b8a0 19%, #9900ff 100%);
}

.user-info-list li input{
    border: none;
    border-radius: 5px;
    box-shadow:#585858 0 0 5px 1px;
    padding: 4px;
}

.user-info-list li button{
    margin-top: 5px;
}

.user-info-list label {
    color: #272727;
    font-weight: bold;
}

.list-group-item {
    margin-top: 0px;
    padding: 0px;
}

.button-add-friend {
    font-weight: bold;
    color: #cfcfcf;
}

.button-add-friend:hover {
    font-weight: bold;
    color: #ffffff;
}

